@import "_colors.scss";

.alert, .alert-info {
  position: fixed;
  width: 100%;
  bottom: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  border-color: $colorPrimary;
  border-width: 3px;
  max-width: 50px;
  &.light {
    border-color: white;
  }
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: $colorPrimary;
  &:hover, &:focus {
    color: $colorPrimaryDark;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: $colorPrimary;
}

.bg-dark {
  background-color: $textBlack;
  color: white;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  .navbar-header {
    .navbar-brand {
      color: $colorPrimary;
      font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      &:hover, &:focus {
        color: $colorPrimaryDark;
      }
    }

    .navbar-toggle {
      font-weight: 700;
      font-size: 12px;
      color: $textBlack;
      text-transform: uppercase;
    }
  }
  .nav > li {
    > a {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      color: $textBlack;
      &:focus {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: $textBlack;
      }
      &:hover, &:focus:hover {
        color: $colorPrimary;
      }
    }
    &.active > a {
      color: $colorPrimary !important;
      background-color: transparent;
      &:focus {
        color: $colorPrimary !important;
        background-color: transparent;
      }
      &:hover, &:focus:hover {
        background-color: transparent;
      }
    }
  }
}

#img_language {
  padding-left: 36px;
}

@media (max-width: 768px) {
  #img_language {
    padding-left: 16px;
  }
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    .navbar-header .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
      &:hover, &:focus {
        color: white;
      }
    }
    .nav > li > a {
      color: rgba(255, 255, 255, 0.7);
      &:focus {
        color: rgba(255, 255, 255, 0.7);
      }
      &:hover, &:focus:hover {
        color: white;
      }
    }
    &.affix {
      background-color: white;
      border-color: rgba(34, 34, 34, 0.05);
      .navbar-header .navbar-brand {
        color: $colorPrimary;
        font-size: 14px;
        &:hover, &:focus {
          color: $colorPrimaryDark;
        }
      }
      .nav > li > a {
        color: $textBlack;
        &:focus {
          color: $textBlack;
        }
        &:hover, &:focus:hover {
          color: $colorPrimary;
        }
      }
    }
  }
}

header {
  position: relative;
  width: 100%;
  min-height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/header.jpg');
  text-align: center;
  color: white;
  .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
    .header-content-inner {
      h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        margin-bottom: 50px;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
    .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;
      .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 18px;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

.section-heading {
  margin-top: 0;
}

.service-box {
  max-width: 400px;
  margin: 50px auto 0;
  p {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}

.technologies-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  .technologies-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: $colorPrimaryAlpha;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    .technologies-box-caption-content {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      .project-category, .project-name {
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
        padding: 0 15px;
      }
      .project-category {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
      }
      .project-name {
        font-size: 18px;
      }
    }
  }
  &:hover .technologies-box-caption {
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}

@media (min-width: 768px) {
  .technologies-box .technologies-box-caption .technologies-box-caption-content {
    .project-category {
      font-size: 16px;
    }
    .project-name {
      font-size: 22px;
    }
  }
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: $colorPrimary;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  color: $textBlack;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  &:hover, &:focus, &.focus, &:active, &.active {
    color: $textBlack;
    background-color: #f2f2f2;
    border-color: #ededed;
  }
}

.open > .dropdown-toggle.btn-default {
  color: $textBlack;
  background-color: #f2f2f2;
  border-color: #ededed;
}

.btn-default {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default {
  &.disabled, &[disabled] {
    background-color: white;
    border-color: white;
  }
}

fieldset[disabled] .btn-default {
  background-color: white;
  border-color: white;
}

.btn-default {
  &.disabled:hover, &[disabled]:hover {
    background-color: white;
    border-color: white;
  }
}

fieldset[disabled] .btn-default:hover {
  background-color: white;
  border-color: white;
}

.btn-default {
  &.disabled:focus, &[disabled]:focus {
    background-color: white;
    border-color: white;
  }
}

fieldset[disabled] .btn-default:focus {
  background-color: white;
  border-color: white;
}

.btn-default {
  &.disabled.focus, &[disabled].focus {
    background-color: white;
    border-color: white;
  }
}

fieldset[disabled] .btn-default.focus {
  background-color: white;
  border-color: white;
}

.btn-default {
  &.disabled:active, &[disabled]:active {
    background-color: white;
    border-color: white;
  }
}

fieldset[disabled] .btn-default:active {
  background-color: white;
  border-color: white;
}

.btn-default {
  &.disabled.active, &[disabled].active {
    background-color: white;
    border-color: white;
  }
}

fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}

.btn-default .badge {
  color: white;
  background-color: $textBlack;
}

.btn-primary {
  color: white;
  background-color: $colorPrimary;
  border-color: $colorPrimary;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  &:hover, &:focus, &.focus, &:active, &.active {
    color: white;
    background-color: $colorAccent;
    border-color: $colorAccentDark;
  }
}

.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: $colorAccent;
  border-color: $colorAccentDark;
}

.btn-primary {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary {
  &.disabled, &[disabled] {
    background-color: $colorPrimary;
    border-color: $colorPrimary;
  }
}

fieldset[disabled] .btn-primary {
  background-color: $colorPrimary;
  border-color: $colorPrimary;
}

.btn-primary {
  &.disabled:hover, &[disabled]:hover {
    background-color: $colorPrimary;
    border-color: $colorPrimary;
  }
}

fieldset[disabled] .btn-primary:hover {
  background-color: $colorPrimary;
  border-color: $colorPrimary;
}

.btn-primary {
  &.disabled:focus, &[disabled]:focus {
    background-color: $colorPrimary;
    border-color: $colorPrimary;
  }
}

fieldset[disabled] .btn-primary:focus {
  background-color: $colorPrimary;
  border-color: $colorPrimary;
}

.btn-primary {
  &.disabled.focus, &[disabled].focus {
    background-color: $colorPrimary;
    border-color: $colorPrimary;
  }
}

fieldset[disabled] .btn-primary.focus {
  background-color: $colorPrimary;
  border-color: $colorPrimary;
}

.btn-primary {
  &.disabled:active, &[disabled]:active {
    background-color: $colorPrimary;
    border-color: $colorPrimary;
  }
}

fieldset[disabled] .btn-primary:active {
  background-color: $colorPrimary;
  border-color: $colorPrimary;
}

.btn-primary {
  &.disabled.active, &[disabled].active {
    background-color: $colorPrimary;
    border-color: $colorPrimary;
  }
}

fieldset[disabled] .btn-primary.active {
  background-color: $colorPrimary;
  border-color: $colorPrimary;
}

.btn-primary .badge {
  color: $colorPrimary;
  background-color: white;
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: $textBlack;
}

img {
  &::selection, &::-moz-selection {
    color: white;
    background: transparent;
  }
}

body {
  webkit-tap-highlight-color: $textBlack;
}

.img-responsive {
  margin: 0 auto;
}

footer {
  color: white;
  h3 {
    margin-bottom: 30px;
  }
  .footer-above {
    padding-top: 50px;
    background-color: $colorPrimaryDark;
  }
  .footer-col {
    margin-bottom: 50px;
  }
  .footer-below {
    padding: 25px 0;
    background-color: $colorPrimary;
  }
  .footer-privacy-and-terms {
    color: white;
  }
}

#modal_privacy_and_terms {

  // TODO: set style
  color: $textBlack;
  .modal_head {
    text-align: left;
  }
  .modal_head_title {
    font-size: 18px;
    padding-bottom: 12px;
  }
  .modal_head_content {
    font-size: 14px;
  }
  .modal_content_title {
    font-size: 18px;
    padding-bottom: 8px;
  }
  .modal_content_subtitle {
    font-size: 14px;
    padding-bottom: 8px;
  }
  .modal_content_content {
    font-size: 12px;
    text-align: left;
  }
}

.extra-padding-top {
  padding-top: 32px;
}

.text-muted.white {
  color: #EFEFEF;
}

.align-left {
  text-align: left;
}

.white-icon {
  color: #EFEFEF;
}

.text-black {
  color: #2D2D2D;
}