.alert, .alert-info {
  position: fixed;
  width: 100%;
  bottom: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}

hr.light {
  border-color: white;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}

a:hover, a:focus {
  color: #eb3812;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: #F05F40;
}

.bg-dark {
  background-color: #222222;
  color: white;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}

.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}

.navbar-default .nav > li > a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}

.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
  color: #F05F40;
}

.navbar-default .nav > li.active > a {
  color: #F05F40 !important;
  background-color: transparent;
}

.navbar-default .nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}

.navbar-default .nav > li.active > a:hover, .navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

#img_language {
  padding-left: 36px;
}

@media (max-width: 768px) {
  #img_language {
    padding-left: 16px;
  }
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }

  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }

  .navbar-default .nav > li > a {
    color: rgba(255, 255, 255, 0.7);
  }

  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }

  .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
    color: white;
  }

  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover, .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }

  .navbar-default.affix .nav > li > a {
    color: #222222;
  }

  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }

  .navbar-default.affix .nav > li > a:hover, .navbar-default.affix .nav > li > a:focus:hover {
    color: #F05F40;
  }
}

header {
  position: relative;
  width: 100%;
  min-height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url("../img/header.jpg");
  text-align: center;
  color: white;
}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}

header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

header .header-content .header-content-inner hr {
  margin: 30px auto;
}

header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }

  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }

  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }

  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-heading {
  margin-top: 0;
}

.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}

.service-box p {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}

.technologies-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.technologies-box .technologies-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(240, 95, 64, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.technologies-box .technologies-box-caption .technologies-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.technologies-box .technologies-box-caption .technologies-box-caption-content .project-category, .technologies-box .technologies-box-caption .technologies-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}

.technologies-box .technologies-box-caption .technologies-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.technologies-box .technologies-box-caption .technologies-box-caption-content .project-name {
  font-size: 18px;
}

.technologies-box:hover .technologies-box-caption {
  opacity: 1;
}

.technologies-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .technologies-box .technologies-box-caption .technologies-box-caption-content .project-category {
    font-size: 16px;
  }

  .technologies-box .technologies-box-caption .technologies-box-caption-content .project-name {
    font-size: 22px;
  }
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #F05F40;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed;
}

.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed;
}

.btn-default:active, .btn-default.active {
  background-image: none;
}

.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled, .btn-default[disabled] {
  background-color: white;
  border-color: white;
}

fieldset[disabled] .btn-default {
  background-color: white;
  border-color: white;
}

.btn-default.disabled:hover, .btn-default[disabled]:hover {
  background-color: white;
  border-color: white;
}

fieldset[disabled] .btn-default:hover {
  background-color: white;
  border-color: white;
}

.btn-default.disabled:focus, .btn-default[disabled]:focus {
  background-color: white;
  border-color: white;
}

fieldset[disabled] .btn-default:focus {
  background-color: white;
  border-color: white;
}

.btn-default.disabled.focus, .btn-default[disabled].focus {
  background-color: white;
  border-color: white;
}

fieldset[disabled] .btn-default.focus {
  background-color: white;
  border-color: white;
}

.btn-default.disabled:active, .btn-default[disabled]:active {
  background-color: white;
  border-color: white;
}

fieldset[disabled] .btn-default:active {
  background-color: white;
  border-color: white;
}

.btn-default.disabled.active, .btn-default[disabled].active {
  background-color: white;
  border-color: white;
}

fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}

.btn-default .badge {
  color: white;
  background-color: #222222;
}

.btn-primary {
  color: white;
  background-color: #F05F40;
  border-color: #F05F40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
  color: white;
  background-color: #ee4b28;
  border-color: #ed431f;
}

.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #ee4b28;
  border-color: #ed431f;
}

.btn-primary:active, .btn-primary.active {
  background-image: none;
}

.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled, .btn-primary[disabled] {
  background-color: #F05F40;
  border-color: #F05F40;
}

fieldset[disabled] .btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary.disabled:hover, .btn-primary[disabled]:hover {
  background-color: #F05F40;
  border-color: #F05F40;
}

fieldset[disabled] .btn-primary:hover {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary.disabled:focus, .btn-primary[disabled]:focus {
  background-color: #F05F40;
  border-color: #F05F40;
}

fieldset[disabled] .btn-primary:focus {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary.disabled.focus, .btn-primary[disabled].focus {
  background-color: #F05F40;
  border-color: #F05F40;
}

fieldset[disabled] .btn-primary.focus {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary.disabled:active, .btn-primary[disabled]:active {
  background-color: #F05F40;
  border-color: #F05F40;
}

fieldset[disabled] .btn-primary:active {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary.disabled.active, .btn-primary[disabled].active {
  background-color: #F05F40;
  border-color: #F05F40;
}

fieldset[disabled] .btn-primary.active {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary .badge {
  color: #F05F40;
  background-color: white;
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

img::selection, img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  webkit-tap-highlight-color: #222222;
}

.img-responsive {
  margin: 0 auto;
}

footer {
  color: white;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 50px;
  background-color: #eb3812;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #F05F40;
}

footer .footer-privacy-and-terms {
  color: white;
}

#modal_privacy_and_terms {
  color: #222222;
}

#modal_privacy_and_terms .modal_head {
  text-align: left;
}

#modal_privacy_and_terms .modal_head_title {
  font-size: 18px;
  padding-bottom: 12px;
}

#modal_privacy_and_terms .modal_head_content {
  font-size: 14px;
}

#modal_privacy_and_terms .modal_content_title {
  font-size: 18px;
  padding-bottom: 8px;
}

#modal_privacy_and_terms .modal_content_subtitle {
  font-size: 14px;
  padding-bottom: 8px;
}

#modal_privacy_and_terms .modal_content_content {
  font-size: 12px;
  text-align: left;
}

.extra-padding-top {
  padding-top: 32px;
}

.text-muted.white {
  color: #EFEFEF;
}

.align-left {
  text-align: left;
}

.white-icon {
  color: #EFEFEF;
}

.text-black {
  color: #2D2D2D;
}

/*# sourceMappingURL=styles.css.map */
